*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Playfair+Display:wght@500&display=swap');

.main{
    width: 100%;
    height: 100vh;
   background-color: rgb(1, 1, 34);
   
}

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.title{
    margin-top: 30px;
    color: white;
    text-align: center;
    font-size: 3.5rem;
}

.col{
    margin-top: 20px;
    width: 1000px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    color: white;
}

.col div {
    width: 250px;
    text-align: center;
}

input{
    width: 60%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: transparent;
    border-radius: 6px;
text-align: center;
font-size: 30px;
}